<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- BoxIcons CSS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>CRUD Citas</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

   
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<form class="p-5 border shadow" action="/save" method="POST">
    <h1 class="text-center text-primary mt-3 "><u>Creando Nueva Cita</u></h1>

  <div class="form-group ">
    <label for="Descripcion">
      <b class="text-primary">Descripcion cita</b>
    </label>
    <input required type="text" name="descripcion" class="form-control" id="descripcion" aria-describedby="emailHelp" placeholder="Inserte la descripción de la cita">
  </div> 
   <div class="form-group ">
    <label for="Fecha">
            <b class="text-primary">Fecha cita</b>
    </label>
    <input required type="date" name="fecha" class="form-control" id="fecha" aria-describedby="emailHelp" placeholder="Inserte la fecha">
  </div>
     <div class="form-group ">
    <label for="hora">
            <b class="text-primary">Hora</b>
    </label>
    <input required type="time" name="hora" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Inserte la hora">
  </div> 
       <div class="form-group ">
    <label for="duraccion">
      <b class="text-primary">Duracción minutos</b>
    </label>
    <input required type="number" name="ejecucion" class="form-control" id="ejecucion" aria-describedby="emailHelp" placeholder="Inserte la duracciòn de la cita">
  </div>
  <div class="form-group">
  </div>
 
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="/"  class="btn btn-dark">Cancelar</a>
</form>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>